#### Alignerzilla Configurations File ####
##########################################
# Change the values at your own risk to obtain different results

######### ALIGNER CONFIGURATION #########
#########################################

# Use only time based alignments?
# Must be a boolean (true or false)
# If "true" does not use sentence similarity to align the subtitles
# Default value is "false" (w/o quotes)
TIME_ONLY = false

# Maximum time difference accepted in an alignment
# Must be between 0.00 e 1.00
# Lower values make the alignments more precise, but will reduce the number of alignments
# Default value is 0.95
TIME_THRESHOLD = 0.95

# Maximum distance accepted in an alignment; Will be ignored if TIME_ONLY = true;
# Must be between 0.00 e 1.00
# Lower values make the alignments more precise, but will reduce the number of alignments
# Default value is 0.55
DISTANCE_THRESHOLD = 0.55

# List of special cases that use punctuation but should not interrupt a sentence.
# Examples: "Mr. Dr. St."
# Must follow this format: "case1|case2|case3|case4" without the quotes.
# Will not work if other format is used.
SPECIAL_PUNCTUATION_CASES = Mr|mr|Mrs|Dr|Av|St|Sr|Sra|D|R|Exmo

# Print alignment confidence next to the alignments?
# Must be a boolean (true or false)
# Default value is "false" (w/o quotes)
PRINT_CONFIDENCE = false

####### TRANSLATOR CONFIGURATION ########
#########################################

# Use a dictionary?
# Must be a boolean (true or false)
# Use "false" if same language alignments
# Default value is "true" (w/o quotes).
USE_DICTIONARY = true

# Location of the dictionary fire; Will be ignored if USE_DICTIONARY = false.
# Must be relative to project root folder
# Must contain a text file with two rows, as follow:
# word	[tab] translation
# Default value is "lib/translatorEN-PT.txt" (w/o quotes)
DICTIONARY_FILE = lib/translatorEN-PT.txt
